use flake

layout ruby

export PGDATA="${PWD}/.direnv/postgresql"
export PGHOST="${PGDATA}"

if [[ ! -d "${PGDATA}" ]]; then
  initdb --no-instructions --auth=trust
  cat << EOF > "${PGDATA}/postgresql.conf"
listen_addresses = ''
unix_socket_directories = '${PGHOST}'
EOF
  echo "CREATE DATABASE flakey_development; CREATE DATABASE flakey_test;" | postgres --single -E postgres
fi
