use flake

layout ruby

# Project-local PostgreSQL server
export PGDATA="${PWD}/.direnv/postgres"
export PGHOST="${PGDATA}"
if [[ ! -d "${PGDATA}" ]]; then
  initdb --auth=trust
  cat << EOF > "${PGDATA}/postgresql.conf"
listen_addresses = ''
unix_socket_directories = '${PGHOST}'
EOF
fi

# Project-local Redis server
redis_directory=".direnv/redis"
mkdir -p "${redis_directory}"
cat << EOF > "${redis_directory}/redis.conf"
dir ${redis_directory}
port 0
unixsocket redis.sock
EOF
